h3,p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 16px;
  white-space: pre;
  overflow:hidden;
}
p{
  color: darkblue;
}
.zero-border{
  border: 0px;
}
.jumbotron {
  padding: 2rem 2rem;
}
.blocks span{
  text-align: right;
  display: block;
}
.remove{
  color: black;
}
.card-body{
  overflow-y: auto;
}
#accordion a{
  color: white;
}
.card-header{
  background-color: darkcyan;
}
